# vscode
.vscode/

# Compiled class file
*.class

# Compiled jar files
*.jar

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Test case output files
a2/tests/temp/*
a3/tests/temp/*

# Submission folder
a2/CS17B046/*
a3/CS17B046/*

# Written assignment zip
CS17B046_W1.zip
