# vscode
.vscode/

# Compiled class file
*.class

# Compiled jar files
*.jar

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Test case output files
AliasAnalysis/tests/temp/*
MHPAnalysis/tests/temp/*

# Submission folder
AliasAnalysis/CS17B046/*
MHPAnalysis/CS17B046/*

# Written assignment zip
CS17B046_W1.zip
